<a href="https://colab.research.google.com/github/Jorge-LGH/Learn_Python/blob/main/Numeric.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Equivalencias R con Python**

Esta tabla sirve como una ayuda básica para comprender las equivalencias de R, el cual debes de conocer, y Python. La finalidad de este elemento no es enseñar, si no, que funge como una ayuda para *tocar tierra* y hacer más entendible el cambio.

**¡Para aprender un lenguaje, las equivalencias NO lo son todo!**

| Acción   | R                           | Python                      |
|------------|-----------------------------|-----------------------------|
| Definir | `x <- 3.14`                 | `x = 3.14`                  |
| Sumar   | `x + 2`                     | `x + 2`                     |
| Restar| `x - 2`                     | `x - 2`                     |
| Multiplicar | `x * 2`                  | `x * 2`                     |
| División   | `x / 2`                     | `x / 2`                     |
| Exponencial | `x ^ 2`                  | `x ** 2`                    |
| Valor absoluto | `abs(x)`                  | `abs(x)`                    |
| Convertir en integer | `as.integer(x)`      | `int(x)`                    |
| Convertir en string | `as.character(x)`     | `str(x)`                    |

# Numeric data types

Los tipos de datos numéricos son fáciles de entender y abarcan de manera general tres tipos de datos: *integers* (int), *floating point numbers* (float) y *complex numbers* (complex). Los dos tipos de datos numéricos más usados en el área son los *integers* y los *float*, de modo que en este momento los complex quedarán fuera de este documento. A continuación, veremos algunas de las características de cada uno de estos tipos de datos.

## Integers

Este tipo de dato se refiere a números enteros, es decir, números sin decimales. Siempre y cuando un número sea entero, sin importar su signo, se le puede considerar un *integer*. Podemos corroborar la clase de nuestro dato directamente con la función `type()`, donde pondremos nuestro valor dentro del paréntesis.

In [ ]:
# Texto a clase numérica

type("2")

str

Otra caso que puede suceder, es cuando se le ha asignado un valor a una variable y se quiere corroborar el tipo de dato. El uso de la función `type()` es igual que en el ejemplo anterior, solo que se pondrá la variable dentro del paréntesis. En este caso se llama *integer literal* al estar directamente escrito dentro de una variable en el código.

In [ ]:
# Asigando un valor a una variable y determinando su clase

num1 = 12
print(type(num1))

num2 = -24
print(type(num2))

<class 'int'>
<class 'int'>

**Debemos de recordar que los números no se escriben con ","**, en caso de hacerlo, nos arrojará un error.

```
>>> type(2,000,000)
TypeError: type.__new__() argument 1 must be str, not int

```

## Floating point numbers

Este tipo de dato, mejor conocido como *float*, se compone por los números que tengan un decimal. Incluso número enteros pueden ser considerados parte de este tipo de datos, esto si se la sintaxis adecuada. Por ejemplo, si comparamos la clase de 1 y de 1.0, nos arrojará *int* y *float* respectivamente. Pese a que la lógica indica que es lo mismo, debemos de considerar que aun si el decimal es 0, sigue siendo un decimal y por ende pertenece a la clase *float*.

Al igual que con los datos de clase int, la clase de los datos se puede evaluar usando la misma función previamente usada.

In [ ]:
# Evaluar clase de dato numérico directamente

print(type(1.0))

print(type(-1.0))

<class 'float'>
<class 'float'>

Ahora, igualmente podemos asignar valores numnéricos de clase float a variables y corroborar su clase al igual que los int.

In [ ]:
# Asigando un valor a una variable y determinando su clase

num1 = 1.2
print(type(num1))

num2 = -2.0
print(type(num2))

<class 'float'>
<class 'float'>

## String to numeric

Otro punto importante que se debe de mencionar, es la capacidad de convertir un texto en un objeto de clase numérica. En ocasiones algunos resultados o nuestros datos no tendrán la clase que nos convenga más para trabajar con ellos, incluyendo números y texto, por lo que es necesario aprender cambiar la clase de nuestros datos. Para esto es necesario mencionar que no podemos convertir letras en números, es decir, si queremos convertir objetos que se consideran caracteres a objetos de clase numérica, estos ya deben de ser números por sí mismos. Es un poco confuso al principio, pero se puede ejemplificar fácilmente.

**El texto en Python se encuentra entre  comillas dobles (" "), o bien, comillas simples (' ').**

In [ ]:
# Texto a clase numérica

type("2")

str

Como podemos ver, el resultado de nuestra función `type()` nos arroja una clase llamada `str`, la cual no corresponde a ninguna clase de dato numérico, pero podemos convertirlo con facilidad a int o float haciendo uso de las funciones `int()` y `float()` respectivamente.

In [ ]:
# Texto a clase numérica

int("2")

2

In [ ]:
# texto a float

float("2")

2.0

In [ ]:
# texto con decimales a float

float("2.1")

2.1

Podemos observar que al tener un texto sin decimales y aplicando la función `float()`, nuestro texto no solo se convierte en un número, sino, que se le agrega el decimal 0 y se vuelve de clase float. Ahora, en el caso de usar la función `int()` en un texto con decimales, esto nos arrojará un error.

```
>>> int("2.1")
ValueError: invalid literal for int() with base 10: '2.1'

```

# Manipulación de datos numéricos

El uso más obvio de datos numéricos, y por ende su manipulación, es con fines matemáticos. Así como R, y básicamente cualquier lenguaje de programaciín, este puede funcionar como una herramienta de cálculo matemático.

La sintaxis en Python es básicamente igual que la de R en varias operaciones, pero siempre hay que recordar que existen diferencias y no tenerlas en cuenta generará problemas.

## Suma

In [ ]:
print(2 + 3)

print(-12 + -17)

print(1093498235423098748749872348972348972398320809324 + 9871871879819809120398123)

print(0.000000012028484 + -0.531234)

5
-29
1093498235423098748749882220844228792207441207447
-0.531233987971516

## Resta

In [ ]:
print(123 - 123)

print(-98 - 90)

print(0.9 - -0.1)

print(1231239 - 9999008)

0
-188
1.0
-8767769

## Mutiplicación

In [ ]:
print(12 * 12)

print(-5 * 8)

print(-45 * -3)

print(0.123 * -0.9)

144
-40
135
-0.1107

## División

In [ ]:
print(45 / 3)

print(334 / 1234)

print(-2840 / 23)

print(-12 / -4)

15.0
0.2706645056726094
-123.47826086956522
3.0

## Exponencial

In [ ]:
print(2 ** 2)

print(-2 ** -2)

print(6 ** -2)

print(-2 ** 3)

4
-0.25
0.027777777777777776
-8

# Ejercicios

Ejercicio 1: Calcular Área y Perímetro

Escribe un programa en Python que calcule el área y el perímetro de un rectángulo. Solicita al usuario que ingrese el largo y el ancho como valores numéricos, luego calcula y muestra el área y el perímetro.

**TIP: Recuerda que existen funciones para que los usuarios ingresen un input.**

Ejercicio 2: Conversión de Temperatura

Escribe un programa que convierta una temperatura dada en grados Celsius a grados Fahrenheit. Solicita al usuario ingresar una temperatura en grados Celsius como un valor numérico, luego conviértela a grados Fahrenheit utilizando la fórmula: $Fahrenheit = (Celsius * \frac{9}{5}) + 32$. Muestra la temperatura convertida.

Ejercicio 3: Cálculo de Interés Compuesto

Escribe un programa en Python que calcule el valor futuro de una inversión con interés compuesto. Solicita al usuario que ingrese la cantidad principal, la tasa de interés (como decimal) y el número de años. Calcula y muestra el valor futuro de la inversión utilizando la fórmula: $Valor Futuro = Principal * (1 + Tasa de Interés)^{Número de Años}$.

Ejercicio 4: Secuencia de Fibonacci

Escribe un programa en Python que genere la secuencia de Fibonacci hasta un número dado de términos. Solicita al usuario ingresar el número de términos de la secuencia y luego genera y muestra la secuencia de Fibonacci.


Ejercicio 5: Solucionador de Ecuaciones Cuadráticas

Escribe un programa en Python que resuelva una ecuación cuadrática de la forma $ax^2 + bx + c = 0$. Solicita al usuario ingresar los valores de los coeficientes a, b y c. Calcula y muestra las soluciones de la ecuación cuadrática.

Ejercicio 6: Verificador de Números Primos

Escribe un programa en Python que verifique si un número dado es primo. Solicita al usuario ingresar un número y determina si es un número primo. Muestra un mensaje indicando si el número es primo o no.

Ejercicio 7: Cálculo del Factorial

Escribe un programa en Python que calcule el factorial de un número dado. Solicita al usuario ingresar un número entero positivo, luego calcula y muestra su factorial. El factorial de un número n se denota como n! y es el producto de todos los enteros positivos menores o iguales a n.

# Soluciones

**Recuerda que hay más d una posible solución, de modo que debes de corroborar los resultados por tu propia cuenta.**

In [ ]:
# Solicitar al usuario ingresar el largo y el ancho del rectángulo
largo = float(input("Ingrese el largo del rectángulo: "))
ancho = float(input("Ingrese el ancho del rectángulo: "))

# Calcular el área y el perímetro
area = largo * ancho
perimetro = 2 * (largo + ancho)

# Mostrar el resultado
print("El área del rectángulo es:", area)
print("El perímetro del rectángulo es:", perimetro)

Ingrese el largo del rectángulo: 5
Ingrese el ancho del rectángulo: 9
El área del rectángulo es: 45.0
El perímetro del rectángulo es: 28.0

In [ ]:
# Solicitar al usuario ingresar la temperatura en grados Celsius
celsius = float(input("Ingrese la temperatura en grados Celsius: "))

# Convertir la temperatura a grados Fahrenheit
fahrenheit = (celsius * 9/5) + 32

# Mostrar la temperatura convertida
print("La temperatura en grados Fahrenheit es:", fahrenheit)

Ingrese la temperatura en grados Celsius: 31
La temperatura en grados Fahrenheit es: 87.8

In [ ]:
# Solicitar al usuario ingresar la cantidad principal, la tasa de interés y el número de años
principal = float(input("Ingrese la cantidad principal: "))
interest_rate = float(input("Ingrese la tasa de interés (como decimal): "))
years = int(input("Ingrese el número de años: "))

# Calcular el valor futuro de la inversión
future_value = principal * (1 + interest_rate) ** years

# Mostrar el valor futuro de la inversión
print("El valor futuro de la inversión es:", future_value)

Ingrese la cantidad principal: 100.0
Ingrese la tasa de interés (como decimal): 0.10
Ingrese el número de años: 15
El valor futuro de la inversión es: 417.7248169415656

In [ ]:
# Solicitar al usuario ingresar el número de términos
num_terms = int(input("Ingrese el número de términos: "))

# Inicializar los primeros dos términos de la secuencia
term1 = 0
term2 = 1

# Mostrar los primeros dos términos
print("Secuencia de Fibonacci:")
print(term1)
print(term2)

# Generar y mostrar los términos restantes
for i in range(2, num_terms):
    next_term = term1 + term2
    print(next_term)
    term1 = term2
    term2 = next_term

Ingrese el número de términos: 10
Secuencia de Fibonacci:
0
1
1
2
3
5
8
13
21
34

In [1]:
import math

a = float(input("Enter the coefficient a: "))
b = float(input("Enter the coefficient b: "))
c = float(input("Enter the coefficient c: "))

discriminant = b**2 - 4*a*c

if discriminant > 0:
    x1 = (-b + math.sqrt(discriminant)) / (2*a)
    x2 = (-b - math.sqrt(discriminant)) / (2*a)
    print("Solutions:", x1, x2)
elif discriminant == 0:
    x = -b / (2*a)
    print("Solution:", x)
else:
    print("No real solutions")

Enter the coefficient a: 2
Enter the coefficient b: 1
Enter the coefficient c: 0
Solutions: 0.0 -0.5

In [2]:
num = int(input("Enter a number: "))

is_prime = True

if num < 2:
    is_prime = False
else:
    for i in range(2, int(math.sqrt(num)) + 1):
        if num % i == 0:
            is_prime = False
            break

if is_prime:
    print("The number is prime")
else:
    print("The number is not prime")

Enter a number: 12
The number is not prime

In [4]:
num = int(input("Enter a positive integer: "))

factorial = 1

if num < 0:
    print("Invalid input. Please enter a positive integer.")
else:
    for i in range(1, num + 1):
        factorial *= i

    print("Factorial:", factorial)

Enter a positive integer: 12
Factorial: 479001600