<a href="https://colab.research.google.com/github/Jorge-LGH/Learn_Python/blob/main/Numeric.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Numeric data types

Los tipos de datos numéricos son fáciles de entender y abarcan de manera general tres tipos de datos: *integers* (int), *floating point numbers* (float) y *complex numbers* (complex). Los dos tipos de datos numéricos más usados en el área son los *integers* y los *float*, de modo que en este momento los complex quedarán fuera de este documento. A continuación, veremos algunas de las características de cada uno de estos tipos de datos.

## Integers

Este tipo de dato se refiere a números enteros, es decir, números sin decimales. Siempre y cuando un número sea entero, sin importar su signo, se le puede considerar un *integer*. Podemos corroborar la clase de nuestro dato directamente con la función `type()`, donde pondremos nuestro valor dentro del paréntesis.

In [ ]:
# Texto a clase numérica

type("2")

str

Otra caso que puede suceder, es cuando se le ha asignado un valor a una variable y se quiere corroborar el tipo de dato. El uso de la función `type()` es igual que en el ejemplo anterior, solo que se pondrá la variable dentro del paréntesis. En este caso se llama *integer literal* al estar directamente escrito dentro de una variable en el código.

In [ ]:
# Asigando un valor a una variable y determinando su clase

num1 = 12
print(type(num1))

num2 = -24
print(type(num2))

<class 'int'>
<class 'int'>

**Debemos de recordar que los números no se escriben con ","**, en caso de hacerlo, nos arrojará un error.

```
>>> type(2,000,000)
TypeError: type.__new__() argument 1 must be str, not int

```

## Floating point numbers

Este tipo de dato, mejor conocido como *float*, se compone por los números que tengan un decimal. Incluso número enteros pueden ser considerados parte de este tipo de datos, esto si se la sintaxis adecuada. Por ejemplo, si comparamos la clase de 1 y de 1.0, nos arrojará *int* y *float* respectivamente. Pese a que la lógica indica que es lo mismo, debemos de considerar que aun si el decimal es 0, sigue siendo un decimal y por ende pertenece a la clase *float*.

Al igual que con los datos de clase int, la clase de los datos se puede evaluar usando la misma función previamente usada.

In [ ]:
# Evaluar clase de dato numérico directamente

print(type(1.0))

print(type(-1.0))

<class 'float'>
<class 'float'>

Ahora, igualmente podemos asignar valores numnéricos de clase float a variables y corroborar su clase al igual que los int.

In [ ]:
# Asigando un valor a una variable y determinando su clase

num1 = 1.2
print(type(num1))

num2 = -2.0
print(type(num2))

<class 'float'>
<class 'float'>

## String to numeric

Otro punto importante que se debe de mencionar, es la capacidad de convertir un texto en un objeto de clase numérica. En ocasiones algunos resultados o nuestros datos no tendrán la clase que nos convenga más para trabajar con ellos, incluyendo números y texto, por lo que es necesario aprender cambiar la clase de nuestros datos. Para esto es necesario mencionar que no podemos convertir letras en números, es decir, si queremos convertir objetos que se consideran caracteres a objetos de clase numérica, estos ya deben de ser números por sí mismos. Es un poco confuso al principio, pero se puede ejemplificar fácilmente.

**El texto en Python se encuentra entre  comillas dobles (" "), o bien, comillas simples (' ').**

In [ ]:
# Texto a clase numérica

type("2")

str

Como podemos ver, el resultado de nuestra función `type()` nos arroja una clase llamada `str`, la cual no corresponde a ninguna clase de dato numérico, pero podemos convertirlo con facilidad a int o float haciendo uso de las funciones `int()` y `float()` respectivamente.

In [ ]:
# Texto a clase numérica

int("2")

2

In [ ]:
# texto a float

float("2")

2.0

In [ ]:
# texto con decimales a float

float("2.1")

2.1

Podemos observar que al tener un texto sin decimales y aplicando la función `float()`, nuestro texto no solo se convierte en un número, sino, que se le agrega el decimal 0 y se vuelve de clase float. Ahora, en el caso de usar la función `int()` en un texto con decimales, esto nos arrojará un error.

```
>>> int("2.1")
ValueError: invalid literal for int() with base 10: '2.1'

```